<%- include("templates/encabezado") %>
    <h1>Lista de usuarios</h1>
    <div class="contenedor">
        <table>
            <thead>
                <tr>
                    <th>id</th>
                    <th>Nombre</th>
                    <th>Celular</th>
                    <th>Correo</th>
                    <th>Editar / Borrar</th>
                </tr>
            </thead>
            <tbody>
                <% usuariosCorrectos.forEach((usuario)=>{ %>
                <tr>
                    <td><%= usuario.idusuario %></td>
                    <td><%= usuario.nombre %></td>
                    <td><%= usuario.celular %></td>
                    <td><%= usuario.correo %></td>
                    <td>
                        <a href="/editarUsuario/<%= usuario.idusuario %>">Editar</a> / 
                        <a href="/borrarUsuario/<%= usuario.idusuario %>">Borrar</a>
                    </td>
                </tr>
                <% }); %>
            </tbody>
        </table>        
    </div>
<%- include("templates/pie") %>